<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text" >
    </div>
    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <input pInputText type="text" style="width: 95px;">
      <label style="margin: 0 5px 0 5px">até</label>
      <input pInputText type="text" style="width: 95px;">
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-pessoas-grid [pessoas]="pessoas" [first]="primeriaPagina"></app-pessoas-grid>
    </div>
    <div class="ui-g-12">
      <a pButton type="button" label="Novo Lançamento" ></a>
    </div>
  </div>
</div>
