<div class="container" style="max-width: 400px; margin: auto">
  <div class="ui-g">
    <form autocomplete="off" #loginForm="ngForm" (click)="logar(loginForm)">
      <div class="ui-g-12">
        <h1>Login</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <input pInputText type="text" placeholder="E-mail" name="email"
          [(ngModel)]="login.email" required #email="ngModel">
        <app-message [control]="email" error="required"
          errorText="E-mail é um campo obrigatório."></app-message>
      </div>
      <div class="ui-g-12 ui-fluid">
        <input pInputText type="text" placeholder="Senha" name="senha"
        [(ngModel)]="login.senha" required #senha="ngModel">
        <app-message [control]="senha" error="required"
          errorText="Senha é um campo obrigatório."></app-message>
      </div>
      <div class="ui-g-12 ui-fluid">
        <button type="submit" pButton label="Login" disabled="!loginForm.valid"></button>
      </div>
    </form>
  </div>
</div>
