/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

label{
  font-weight: bold;
}

label::after{
  content: ":";
}

a span{
  color: #ffffff;
}

body .ui-button.ui-button-icon-only {
  margin: 0 8px 0 0;
  left: 5px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor-head {
  width: 120px;
  text-align: center;
}

.col-valor{
  text-align: right;
}

.col-acoes{
  width: 110px;
  text-align: center;
}

.col-data{
  width: 120px;
  text-align: center;
}

.ui-paginator .ui-paginator-icon{
  color: #007ad9;
}
